
/*
    Переопределение стилей для элементов которые не используют css переменные
*/
.pulse-fixed-dark-theme {
    .stack-app {
        background-color: var(--v-base-1-base) !important;
    }

    .app-toolbar {
        box-shadow: 0 0 32px #494b4f3d !important;
    }

    .v-application .white {
        /*background-color: initial !important;*/
        background-color: #272727 !important;
    }

    .simple-badge {
        color: #000 !important;
    }

    .StackMarkdown {
        .editor-preview {
            background-color: #1e1e1e !important;
        }
        .CodeMirror {
            background: #1e1e1e !important;
            color: #9e9e9e !important
        }
        .editor-preview {
            background: #1e1e1e !important;
        }
        .editor-preview pre {
            background: #313132 !important;
        }
        .cm-s-easymde .cm-comment {
            background: #ffffff1f !important;
            border-radius: 0 !important;
        }
        .CodeMirror-line span {
            & > span:only-child {
                display: inline-block;
            }
        }
    }

    .stacktable {
        tbody {
            td {
                &:first-child {
                    border-left: thin solid transparent;
                }
                border-top: thin solid transparent;
                border-bottom: thin solid rgba(255,255,255,.12);
                &:last-child {
                    border-right: thin solid transparent;
                }
            }
        }
    }
}

.stacktable {
    tbody {
        .PULSE_PLUS_active_task {
            td {
                &:first-child {
                    border-left: thin solid var(--v-primary-base) !important;
                }
                border-top: thin solid var(--v-primary-base) !important;
                border-bottom: thin solid var(--v-primary-base) !important;
                &:last-child {
                    border-right: thin solid var(--v-primary-base) !important;
                }
            }
        }
        td {
            &:first-child {
                border-left: thin solid transparent;
            }
            border-top: thin solid transparent;
            border-bottom: thin solid rgba(0,0,0,.12);
            &:last-child {
                border-right: thin solid transparent;
            }
        }
    }
}