:root {
    --v-anchor-base: #008f7a;
    --v-primary-base: #008f7a;
    --v-primary-darken1: #00816e;
    --v-primary-darken2: #006455;
    --v-primary-darken3: #005649;
    --v-primary-darken4: #003931;
    --v-primary-lighten1: #33a595;
    --v-primary-lighten2: #5cb9ac;
    --v-primary-lighten3: #80c7bd;
    --v-primary-lighten4: #b3ddd7;
    --v-primary-lighten5: #dbedea;
    --v-secondary-base: #dbedea;
    --v-secondary-lighten5: #ffffff;
    --v-secondary-lighten4: #ffffff;
    --v-secondary-lighten3: #ffffff;
    --v-secondary-lighten2: #ffffff;
    --v-secondary-lighten1: #f8ffff;
    --v-secondary-darken1: #bfd1ce;
    --v-secondary-darken2: #a4b5b2;
    --v-secondary-darken3: #8a9a98;
    --v-secondary-darken4: #70807e;
    --v-accent-base: #4ac99b;
    --v-accent-lighten5: #e0ffff;
    --v-accent-lighten4: #c2ffff;
    --v-accent-lighten3: #a4ffee;
    --v-accent-lighten2: #87ffd1;
    --v-accent-lighten1: #69e6b6;
    --v-accent-darken1: #25ad81;
    --v-accent-darken2: #009268;
    --v-accent-darken3: #007850;
    --v-accent-darken4: #005e39;
    --v-error-base: #ce574a;
    --v-error-lighten1: #e18875;
    --v-error-lighten2: #f0ab93;
    --v-error-lighten3: #facfb9;
    --v-error-lighten4: #fce9dc;
    --v-error-darken1: #b13836;
    --v-error-darken2: #94252c;
    --v-error-darken3: #771725;
    --v-error-darken4: #620e21;
    --v-warning-base: #ffc700;
    --v-warning-lighten1: #ffd93f;
    --v-warning-lighten2: #ffe466;
    --v-warning-lighten3: #ffef99;
    --v-warning-lighten4: #fff8cc;
    --v-warning-darken1: #dba600;
    --v-warning-darken2: #b78600;
    --v-warning-darken3: #936900;
    --v-warning-darken4: #7a5400;
    --v-info-base: #3474c5;
    --v-info-lighten1: #629ddc;
    --v-info-lighten2: #84bced;
    --v-info-lighten3: #afdaf9;
    --v-info-lighten4: #d6edfc;
    --v-info-darken1: #265aa9;
    --v-info-darken2: #1a428d;
    --v-info-darken3: #102e72;
    --v-info-darken4: #09205e;
    --v-success-base: #4ac99b;
    --v-success-lighten1: #75dead;
    --v-success-lighten2: #94eebc;
    --v-success-lighten3: #baf9d0;
    --v-success-lighten4: #dcfce4;
    --v-success-darken1: #36ac8d;
    --v-success-darken2: #25907f;
    --v-success-darken3: #17746e;
    --v-success-darken4: #0e5d60;
    --v-stack-base: #113a51;
    --v-stack-lighten5: #94b7d3;
    --v-stack-lighten4: #799cb7;
    --v-stack-lighten3: #5f829d;
    --v-stack-lighten2: #466982;
    --v-stack-lighten1: #2c5169;
    --v-stack-darken1: #00243a;
    --v-stack-darken2: #000f24;
    --v-stack-darken3: #000010;
    --v-stack-darken4: #000000;
    --v-ty-primary-base: #e0e0e0 !important;
    --v-ty-primary-lighten5: #787c9c;
    --v-ty-primary-lighten4: #5f6382;
    --v-ty-primary-lighten3: #474b69;
    --v-ty-primary-lighten2: #303551;
    --v-ty-primary-lighten1: #191f3a;
    --v-ty-primary-darken1: #000010;
    --v-ty-primary-darken2: #000000;
    --v-ty-primary-darken3: #000000;
    --v-ty-primary-darken4: #000000;
    --v-ty-secondary-base: #a0a9b9 !important;
    --v-ty-secondary-lighten5: #d5e2fc;
    --v-ty-secondary-lighten4: #bac6df;
    --v-ty-secondary-lighten3: #9eabc3;
    --v-ty-secondary-lighten2: #8490a8;
    --v-ty-secondary-lighten1: #6b778e;
    --v-ty-secondary-darken1: #3a465b;
    --v-ty-secondary-darken2: #243044;
    --v-ty-secondary-darken3: #0d1b2e;
    --v-ty-secondary-darken4: #000019;
    --v-ty-caption-base: #a0a9b9 !important;
    --v-ty-caption-lighten5: #ffffff;
    --v-ty-caption-lighten4: #f8ffff;
    --v-ty-caption-lighten3: #dbe4f3;
    --v-ty-caption-lighten2: #c0c8d7;
    --v-ty-caption-lighten1: #a4adbb;
    --v-ty-caption-darken1: #707886;
    --v-ty-caption-darken2: #58606d;
    --v-ty-caption-darken3: #404854;
    --v-ty-caption-darken4: #2a323d;
    --v-base-1-base: #1e1e1e !important;
    --v-base-1-lighten5: #ffffff;
    --v-base-1-lighten4: #ffffff;
    --v-base-1-lighten3: #ffffff;
    --v-base-1-lighten2: #ffffff;
    --v-base-1-lighten1: #ffffff;
    --v-base-1-darken1: #e2e2e2;
    --v-base-1-darken2: #c6c6c6;
    --v-base-1-darken3: #ababab;
    --v-base-1-darken4: #919191;
    --v-base-2-base: #313132 !important;
    --v-base-2-lighten5: #ffffff;
    --v-base-2-lighten4: #ffffff;
    --v-base-2-lighten3: #ffffff;
    --v-base-2-lighten2: #ffffff;
    --v-base-2-lighten1: #ffffff;
    --v-base-2-darken1: #dadbdc;
    --v-base-2-darken2: #bebfc1;
    --v-base-2-darken3: #a3a4a5;
    --v-base-2-darken4: #88898b;
    --v-base-3-base: #4c4d4f !important;
    --v-base-3-lighten5: #ffffff;
    --v-base-3-lighten4: #ffffff;
    --v-base-3-lighten3: #ffffff;
    --v-base-3-lighten2: #ffffff;
    --v-base-3-lighten1: #ffffff;
    --v-base-3-darken1: #d7d9dc;
    --v-base-3-darken2: #bbbdc1;
    --v-base-3-darken3: #a0a2a5;
    --v-base-3-darken4: #86888b;
    --v-base-4-base: #121212 !important;
    --v-base-4-lighten5: #ffffff;
    --v-base-4-lighten4: #ffffff;
    --v-base-4-lighten3: #ffffff;
    --v-base-4-lighten2: #ffffff;
    --v-base-4-lighten1: #ffffff;
    --v-base-4-darken1: #cfd3d9;
    --v-base-4-darken2: #b3b7bd;
    --v-base-4-darken3: #999ca2;
    --v-base-4-darken4: #7f8288;
    --v-base-5-base: #7f8288 !important;
    --v-base-5-lighten5: #ffffff;
    --v-base-5-lighten4: #ffffff;
    --v-base-5-lighten3: #ffffff;
    --v-base-5-lighten2: #ffffff;
    --v-base-5-lighten1: #f9ffff;
    --v-base-5-darken1: #c0c6ce;
    --v-base-5-darken2: #a5abb2;
    --v-base-5-darken3: #8b9098;
    --v-base-5-darken4: #71777e;
    --v-base-6-base: #bcc5d1;
    --v-base-6-lighten5: #ffffff;
    --v-base-6-lighten4: #ffffff;
    --v-base-6-lighten3: #ffffff;
    --v-base-6-lighten2: #f4feff;
    --v-base-6-lighten1: #d8e1ed;
    --v-base-6-darken1: #a1aab5;
    --v-base-6-darken2: #878f9b;
    --v-base-6-darken3: #6d7681;
    --v-base-6-darken4: #555d68;
    --v-base-7-base: #8d9fb6;
    --v-base-7-lighten5: #ffffff;
    --v-base-7-lighten4: #fcffff;
    --v-base-7-lighten3: #dff2ff;
    --v-base-7-lighten2: #c3d6ee;
    --v-base-7-lighten1: #a8bad2;
    --v-base-7-darken1: #73859b;
    --v-base-7-darken2: #5a6c81;
    --v-base-7-darken3: #425368;
    --v-base-7-darken4: #2b3c50;
    --v-base-8-base: #8f9cac;
    --v-base-8-lighten5: #ffffff;
    --v-base-8-lighten4: #feffff;
    --v-base-8-lighten3: #e1efff;
    --v-base-8-lighten2: #c5d2e3;
    --v-base-8-lighten1: #aab7c7;
    --v-base-8-darken1: #758291;
    --v-base-8-darken2: #5c6978;
    --v-base-8-darken3: #44515f;
    --v-base-8-darken4: #2e3a47;
    --v-base-9-base: #2e3a47 !important;
    --v-base-9-lighten5: #f0ffff;
    --v-base-9-lighten4: #d3e6ff;
    --v-base-9-lighten3: #b7cae5;
    --v-base-9-lighten2: #9caec9;
    --v-base-9-lighten1: #8294ae;
    --v-base-9-darken1: #4f6179;
    --v-base-9-darken2: #374a60;
    --v-base-9-darken3: #203349;
    --v-base-9-darken4: #081e32;
}