body {
    text-align:center;
    width:300px;
    margin: 0;
    background: #000f24;
    color: var(--v-base-1-base);
}

#container {
    margin: 10px;
    position: relative;
    user-select: none;
}

.title-block {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: var(--v-base-1-base);
    padding-bottom: 5px;
    margin-top: 10px;

    &:first-child {
        /*margin-top: 0;*/
    }
}

button {
    width:100%;
    color: var(--v-base-1-base);
    background:linear-gradient(#01a9e1, #5bc4bc);
    border-width:0px;
    border-radius:20px;
    padding:5px;
    font-weight: bold;
    cursor:pointer;
}

#reloadNotice {
    height: 0;
    overflow: hidden;
    transition: 0.25s;

    background: var(--v-warning-base);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 10px;
    margin-top: 0;
    color: var(--v-ty-primary-base);
    font-size: 16px;
    font-weight: bold;
}

.showReloadNotice {
    height: 51px !important;
    padding: 10px !important;
    margin-top: 10px !important;
}

.show {
    display: block !important;

    & + #settings {
        padding-bottom: 60px;
    }
}

.col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.list {
    display: flex;
    flex-direction: column;
    background: oklch(from var(--v-primary-base) calc(l - 0.1) c h/0.5);
    border-radius: 8px;

    & > div {
        border-bottom: 1px solid var(--v-ty-caption-darken1);

        &:last-child {
            border-bottom: none;
        }
    }
}

.block {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;

    a {
        text-decoration: none;
        color: #fff;
    }
}

label {
    font-size: 16px;
    color: var(--v-base-1-base);
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: left;
}

#info {
    display: flex;
    margin: 10px;
    justify-content: center;
    cursor: default;

    & > div {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        text-align: start;
        justify-content: center;

        & > p {
            margin: 0;
        }
    }
}

#settings, .advancedSettings {
    display: none;
}